.company-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.company-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}

.company-header {
  color: rgb(53, 43, 42);
  width: 100%;
  font-size: 60px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 60px;
}

.company-caption {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 800px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}

.company-row {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

@media(max-width: 991px) {
  .company-row {
    gap: var(--dl-space-space-threeunits);
  }
}

@media(max-width: 767px) {
  .company-heading {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .company-header {
    font-size: 32px;
    max-width: 75%;
    text-align: center;
    line-height: 31px;
  }
  .company-caption {
    font-size: 16px;
    max-width: 60%;
    text-align: center;
    line-height: 24px;
  }
  .company-row {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
