.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}

.button-option {
  color: #352B2A;
  cursor: pointer;
  font-style: normal;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: -70px;
  margin-bottom: -0px;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #949AA5;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 56px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
}
.button1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(20, 112, 250);
  border: none;
  font-size: 16px;
  margin-bottom: 40px;
  color: #ffffff; /* Dark blue color */
  margin-right: 8px; /* Adjust spacing between icon and text */
}

.moreButton {
  color: 'blue'
}

.button1:hover {
  color: #cfceef; /* Change text color on hover */
}

.icon {
  font-size: 30px;
}



.voice-options select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  width:500px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  appearance: none; /* Removes default arrow icon */
}

.voice-options select:focus {
  outline: none; /* Removes outline when focused */
}

/* Style the selected option */
.voice-options option:checked {
  font-weight: bold;
}

.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-video {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-tint {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-size: cover;
 
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure popup is above other content */
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Adjust title input box */
/* Adjust title input box */
.popup-content input[type="text"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add visible border */
  padding: 8px; /* Add padding for better appearance */
}

/* Adjust description text area */
.popup-content textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add visible border */
  padding: 8px; /* Add padding for better appearance */
}

/* Adjust submit button */
.popup-content button[type="submit"] {
  background-color: blue; /* Set background color to blue */
  color: white; /* Set text color to white */
  padding: 10px 20px; /* Add padding for better appearance */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: absolute; /* Position absolutely */
  bottom: 20px; /* 20px from bottom */
  right: 20px; /* 20px from right */
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.home-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  padding-top: -40px;
  align-items: center;
  justify-content: space-between;
}
.post-here-text {
  color: #000; /* Set the color to black */
}

.home-logo {
  height: 150px;
}
.home-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  text-decoration: none;
}
.home-link01 {
  text-decoration: none;
}
.home-link02 {
  text-decoration: none;
}
.home-link03 {
  text-decoration: none;
  
}
.home-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  height: 33px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-center {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  top: 100px;
  display: flex;
  z-index: 100;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  top: 100px;

  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-style: normal;
  text-align: center;
  top: 100px;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 90px;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 600px;
  top: 100px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.home-border {
  width: 100%;
  display: flex;
  max-width: 700px;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 4px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: center;
}
.post-business-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.home-filter {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 500px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.home-textinput {
  width: 100%;
  padding: 0px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Karla;
  border-color: #949AA5;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  border-right-width: 1px;
}
.home-search {
  cursor: pointer;
  display: flex;
  padding: 12px;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #FAD87A;
}
.home-search:hover {
  opacity: 0.5;
}
.home-icon10 {
  width: 18px;
  object-fit: cover;
}
.home-feaures {
  width: 100%;
  height: 421px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #397B53;
}
.home-content1 {
  gap: 140px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  flex-direction: row;
}
.home-quick-view {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-main1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  margin-top: 200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header1 {
  color: rgb(53, 43, 42);
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 60px;
}
.home-caption1 {
  color: rgb(53, 43, 42);
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.home-sorting {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-option-primary {
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  aspect-ratio: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(250, 216, 122);
}
.home-option-primary:hover {
  opacity: 0.5;
}
.home-offers {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home-offer-container {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container1 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container2 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container3 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container4 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container5 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container6 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container7 {
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-offer-container8 {
  width: 100%;
  display: flex;
  text-decoration: none;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
margin-bottom: -30px;
 display: flex;
  flex-wrap: wrap; /* Allow posts to wrap to the next line */
  
}

.post {
  width: 300px; /* Set a fixed width for each post */
  height: 450px; /* Set a fixed height for each post */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative; /* Add this to position the remove icon relative to the post */
}

.post-image {
  width: 100%; /* Make the image width 100% of the post container */
  height: 150px; /* Set a fixed height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.post-content {
  padding: 10px;
}

.post-title {
  font-size: 18px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.post-description {
  font-size: 14px;
  word-wrap: break-word; /* Add this rule to enable word wrapping */
}

.remove-post-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: red;
  z-index: 1; /* Ensure the remove icon is above the image */
}


.home-pagination {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
}
.home-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-icon11 {
  width: 24px;
  height: 24px;
  display: none;
}
.home-pages {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-primary {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-number-current {
  border-color: rgba(0, 0, 0, 0);
}
.home-text07 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text08 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-text09 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-more {
  width: 17px;
  object-fit: cover;
}
.home-text10 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-icon13 {
  width: 24px;
  height: 24px;
  display: none;
}
.home-container3 {
  gap: 300px;
 margin-top: -70px;
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1709721835709-a7440f7f99e6?ixid=M3w5MTMyMXwwfDF8YWxsfDQwfHx8fHx8Mnx8MTcwOTkxMTg3M3w&ixlib=rb-4.0.3&w=1500");
}
.home-icon15 {
  fill: #000000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
}
.home-text12 {
  color: #ffffff;
  align-self: center;
}
.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #F8F0E9;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: #352B2A;
  font-size: 18px;
  line-height: 27px;
}
.home-quote {
  color: #352B2A;
  font-size: 40px;
  font-style: italic;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 48px;
}
.home-details {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-author {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-avatar {
  width: 120px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.home-controls {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text13 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-next1 {
  transform: rotate(180deg);
}
.home-text14 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-find {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #477E5D;
}
.home-heading3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  text-align: center;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 60px;
}
.home-caption2 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  font-family: "Karla";
  line-height: 27px;
}
.home-find1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(250, 216, 122);
}
.home-find1:hover {
  opacity: 0.5;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.home-content3 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-main2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  height: 33px;
  object-fit: cover;
}
.home-caption3 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.home-links1 {
  gap: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-items {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link04 {
  color: rgb(255, 255, 255);
}
.home-link05 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link06 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link07 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link08 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link09 {
  color: rgb(255, 255, 255);
}
.home-link10 {
  color: rgb(255, 255, 255);
}
.home-link11 {
  color: rgb(255, 255, 255);
}
.home-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link12 {
  color: rgb(255, 255, 255);
}
.home-link13 {
  color: rgb(255, 255, 255);
}
.home-link14 {
  color: rgb(255, 255, 255);
}
.home-link15 {
  color: rgb(255, 255, 255);
}
.home-link16 {
  color: rgb(255, 255, 255);
}
.home-copyright {
  color: #766968;
  font-size: 12px;
}
.home-container5 {
  display: contents;
}
@media(max-width: 991px) {
  .home-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-quick-view {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-offers {
    grid-template-columns: auto auto;
  }
  .home-testimonials {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content3 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-branding {
    max-width: 80%;
  }
  .home-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .home-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar {
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-menu {
    display: flex;
  }
  .home-links {
    display: none;
  }
  .home-hamburger {
    display: flex;
  }
  .home-mobile-menu {
    background-color: #397B53;
  }
  .home-icon02 {
    fill: #fff;
  }
  .home-text01 {
    color: #fff;
  }
  .home-text02 {
    color: #fff;
  }
  .home-text03 {
    color: #fff;
  }
  .home-text04 {
    color: #fff;
  }
  .home-text05 {
    color: #fff;
  }
  .home-center {
    padding-bottom: 100px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-header {
    font-size: 40px;
    line-height: 40px;
  }
  .home-caption {
    font-size: 16px;
    max-width: 80%;
    line-height: 24px;
  }
  .home-feaures {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-quick-view {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-offers {
    grid-template-columns: auto;
  }
  .home-pagination {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-testimonials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content2 {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .home-heading2 {
    gap: var(--dl-space-space-unit);
    width: 80%;
    align-items: center;
  }
  .home-title {
    font-size: 12px;
    text-align: center;
    line-height: 18px;
  }
  .home-quote {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
  }
  .home-details {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: center;
  }
  .home-author {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-avatar {
    width: 60px;
  }
  .home-name {
    font-size: 14px;
  }
  .home-find {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading3 {
    gap: var(--dl-space-space-unit);
  }
  .home-header2 {
    font-size: 32px;
    line-height: 31px;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-content3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-branding {
    max-width: 70%;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-sorting {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-pagination {
    gap: var(--dl-space-space-halfunit);
  }
  .home-previous {
    padding: var(--dl-space-space-halfunit);
  }
  .home-icon11 {
    display: flex;
  }
  .home-text06 {
    display: none;
  }
  .home-number1 {
    display: none;
  }
  .home-next {
    padding: var(--dl-space-space-halfunit);
  }
  .home-text11 {
    display: none;
  }
  .home-icon13 {
    display: flex;
  }
}
